html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .text {
    text-align: center;
    
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #wenge {
    background: #584B53;
  }
  
  #rose-taupe {
    background: #9D5C63;
  }
  #rose-quartz {
    background: #BAA0AE;
  }
  #seashell {
    background: #FEF5EF;
  }